<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Shortname</th>
      <th>Name</th>
      <th>Description</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in ctrl.foundItems">
      <td class="ng-binding">{{ item.id }}</td>
      <td class="ng-binding">{{ item.short_name }}</td>
      <td class="ng-binding">{{ item.name }}</td>
      <td class="ng-binding">{{ item.description }}</td>
      <td class="btn btn-default btn-xs" ng-click="ctrl.onRemove({index: $index});">
        Don't want this one!</td>
    </tr>
  </tbody>
</table>
